@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, black, rgb(77, 77, 77),rgb(128, 127, 127));
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 6vw;
}

main {
    display: inline-block;
}